.fondoInicio {
    width: 100%;
    height: 650px;
    height: 100vh;
}

.textoInicio {
    h1 {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.4375rem;
        color: black;
    }

    .flechaInicio {
        position: absolute;
        top: 90%;
        left: 50%;
        width: 50px;
        transform: translate(-50%, -50%);
    }
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: $color-texto;

    .texto2 {
        text-transform: uppercase;
        width: 100%;
        position: absolute;
        top: 200px;
        left: 45%;
        transform: translate(-45%, -65%);
        font-size: 1.25rem;
        color: black;
        text-shadow: 0 0 30px white;
    }

    .texto1 {
        position: absolute;
        top: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 19px;
        text-align: left;
        color: black;
        text-shadow: 0 0 30px white;
    }
}

.imgTexto {
    width: 100%;
}

.trailer {
    width: 100%;
    background-color: black;



    // texto nordico comienza

    .trailerLogo {
        width: 325px;

    }

    .texto {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        font-size: 25px;
    }

    .texto-cambiante{
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
    }

    .texto-hover{
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .texto-cambiante .texto-hover {
        display: none;
        color: white;
        text-shadow: 0 0 30px white;

    }

    .texto-cambiante:hover .texto-original {
        display: none;
    }

    .texto-cambiante:hover .texto-hover {
        display: inline;
    }

    // texto nordico termina



    .videos {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .videoIzquierda {
            padding: 20px;
        }

        .videoDerecha {
            padding: 20px;
        }
    }
}