.fondoInicio {
    width: 100%;
    height: 650px;
    height: 100vh;
}
.textoInicio{
    h1{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1.4375rem;
        color: black;
    }
    .flechaInicio {
        position: absolute;
        top: 90%;
        left: 50%;
        width: 50px;
        transform: translate(-50%, -50%);
    }
}
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: $color-texto;
    .texto2 {
        text-transform: uppercase;
        width: 100%;
        position: absolute;
        top: 200px;
        left: 45%;
        transform: translate(-45%, -65%);
        font-size: 1.25rem;
    }
    .texto1 {
        position: absolute;
        top: 400px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 19px;
        text-align: left;
    }
}
.imgTexto {
    width: 100%;
}
.trailer{
    padding: 30px;
    width: 100%;
    background-color: black;

    .letras{
        font-size: 25px;
        letter-spacing: 2px;
        
    }
    p:hover{
        text-shadow: 0 0 30px #fff;
        cursor: pointer;
    }
    

    .logoTrailer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .videos {
        width: 100%;
        display: flex;
        justify-content: center;

        .videoIzquierda {
            padding: 20px;
        }
        
        .videoDerecha {
            padding: 20px;
        }
    }
}
























